# Any dotenv file
.env*
# Some configuration files
config*.yml
# Coverage database
.coverage
# Some IDEs own files
.idea/
# Python virtual environment
.venv/
# Python bytecode caches
__pycache__
*.pyc
# Build / dist directories
build/
dist/
*.egg-info
# Augmented eval datasets
*_eval.json
*_eval_query_cache.json
